* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #222;
    color: white;
}

#carousel {
    width: 80%;
    height: 40vh;
    margin: 2rem auto;
    
}

img {
    width: 80%;
    height: 40vh;
    min-height: 10rem;
    object-fit: cover;
    opacity: 0;
    border-radius: 0.9rem;
    
}

.active {
    width: 100%;
    opacity: 1;
    position: relative;
}

.wait {
    position: absolute;

}

#prevBtn {
    position: absolute;
    top: calc(16vh + 2rem);
    left: 10vw;
}

#nextBtn {
    position: absolute;
    top: calc(16vh + 2rem);
    right: 10vw;
}