* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #222;
    color: white;
}

#carousel {
    width: 80%;
    height: 40vh;
    margin: 2rem auto;
    
}

img {
    width: 80%;
    height: 40vh;
    min-height: 10rem;
    object-fit: cover;
    border-radius: 0.9rem;
    
}

.active {
    width: 100%;
    position: relative;
    transition: 1s;
    opacity: 1;
}

.wait {
    
    position: absolute;
    transition: 2s;
    opacity: 0;

}

#prevBtn {
    top: calc(17vh + 2rem);
    left: calc(10vw + 1rem);
}

#nextBtn {
    top: calc(17vh + 2rem);
    right: calc(10vw + 1rem);
}

.btnShape{
    position: absolute;
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1 / 1;
}