* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #222;
    color: white;
}

#carousel {
    position: relative;
    width: 80%;
    height: 40vh;
    margin: 2rem auto;
    
}

#secondCarusel{
    width: 80%;
    height: 70vh;
    margin: 2rem auto;
}

#carouselMin {
    position: relative;
    width: 80%;
    height: 100%;
    
}

img{
    width: 100%;
    height: 100%;
}

.widefull {
    
    
    object-fit: cover;
    border-radius: 0.9rem;
    
}

.wideMid {

    width: 100%;
    object-fit: cover;
    border-radius: 0.9rem;
    object-position: right;
}

.minSide{
    width: 20%;
    align-self: flex-end;
}

.wideMini {
    
    width: 100%;
    height: 20%;
    object-fit: cover;
    border-radius: 0.9rem;
    object-position: right;

}

.active {
  
    position: absolute;
    transition: 1s;
    opacity: 1;
}

.wait {
    
    position: absolute;
    transition: 2s;
    opacity: 0;
    

}

#prevBtn {
    top: calc(17vh + 2rem);
    left: calc(10vw + 1rem);
}

#nextBtn {
    top: calc(17vh + 2rem);
    right: calc(10vw + 1rem);
}

#prevMinBtn {
    right: 10px;
}

#nextMinBtn {
    
}


.btnShape{
    position: absolute;
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1 / 1;
}